# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# QGIS project (large binary)
*.qgz
